@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap'); .dialog-off-canvas-main-canvas[data-off-canvas-main-canvas] {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
body {
  /*overflow: hidden;*/
  background-size: cover;
  background-position: center center;
  background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(79,30,37,1) 24.5%, rgba(31,9,31,0.9) 66% );
}
header,
footer,
h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
}
header .navbar {
  margin-bottom: 20px;
  background-image: radial-gradient( circle 1192px at 21.5% 49.5%,  rgba(0,0,0,1) 0.1%, rgba(91,21,55,1) 100.2% );
}
.navbar .container {
  border-radius: 15px;
}
footer {
  background-image: radial-gradient( circle 1192px at 21.5% 49.5%,  rgba(0,0,0,1) 0.1%, rgba(91,21,55,1) 100.2% );
  padding: 0 20px;
}
footer .navbar-brand div {
  margin-left: auto;
}
main {
  color: rgba(255,235,238,1);
}
footer.footer-dark .navbar-brand a.site-title,
header .navbar .container .navbar-brand a.site-title,
#navbarSupportedContent .navigation .navbar-nav .nav-item {
  color: rgba(255,235,238,1);
}
#form-wrapper,
.form_message_intro {
  font-family: 'Mochiy Pop P One', sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}
.form_message_intro {
  font-size: 2rem;
  text-align: center;
}
.false_email,
.false_phone,
.false_name,
.false_review {
  color: red;
}
.guest-form {
  margin-bottom: 40px;
}
.guest_table {
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 100%;
  font-size: 25px;
  font-family: 'Balsamiq Sans', cursive;
  /*align-items: center;*/
}
.guest_table-basic {
  margin-right: 30px;
  max-width: 250px;
  min-width: 200px;
}
.guest_table-edit-delete {
  max-width: 120px;
  display: flex;
  flex-direction: column;
  min-width: 120px;
}
.btn-edit-delete {
  max-width: 120px;
  min-width: 100px;
  border-radius: 5px;
}
.btn-edit {
  margin-bottom: 10px;
}
.btn-delete {
  margin-top: 10px;
}
.guest_table-publishedByOn {
  border: 1px dashed rgba(255,193,7, 0.7);
  padding: 10px;
  margin: 10px 0;
}
.guest_table-publishedByOn-list {
  display: flex;
  padding-left: 20px;
  font-size: 20px;
  flex-direction: column;;
}
.guest_name,
.guest_time {
  margin-bottom: 10px;
}
.guest_email,
.guest_phone {
  text-decoration: underline;
  color: rgba(255,235,238,1);
}
.false_form .placeholder {
  word-break: break-all;
}
.guest_item {
  word-break: break-all;
}
.guest_table-main{
  word-break: break-word;
  padding: 20px;
}
button.ui-dialog-titlebar-close:after {
  content: 'X';
  color: #dc3545;
  font-size: 20px;
  margin-top: -7px;
  margin-left: 1px;
}
.ui-dialog button.ui-dialog-titlebar-close {
  border: 1px solid #ffc107;
  display: flex;
}
[aria-label="Status message"] {
  word-break: break-all;
}
#drupal-modal #form-wrapper {
  max-width: 100%;
}
a.guests-edit {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.guests-edit-delete {
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 1px 6px;
  border: 2px outset;
}
a.guests-delete {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.guest_review {
  word-break: break-word;
}
